:root {
  --active: #323232;
  --white:#fff;
  --black:#161616;
  --dark: #222222;
  --green: #05a15d;
  --red:#cd0e00;
  --gray:#9a9a9a;
  --yellow:#b2af00;
  --brown: #a86a3c;
}

[data-theme="light"] {
  --active: #d7d7d7;
  --white:rgb(44, 44, 44);
  --black:#ffffff;
  --dark: #ddd;
  --gray:#767676;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  color: var(--white);
  background-color: var(--black);
  font-size: .9rem;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

#root {width: 100%; height: 100%; display: flex;}

main {  display: grid;grid-template-rows: 7% 88% 5%;}

aside {width: 20%;}

ul {list-style: none; margin: 0; padding: 0;}

.box {padding: 10px;border-radius: 7px; transition: all .25s;}
.box:hover {transform: scale(1.05);}

.p-1 {padding: 10px;}
.pb-1{padding-bottom: 10px;}
.pr-1{padding-right: 10px;}
.pl-1{padding-left: 10px;}

.p-2 {padding: 20px;}
.pb-2{padding-bottom: 20px;}
.pr-2{padding-right: 20px;}
.pl-2{padding-left: 20px;}

.p-0{padding: 0;}
.pt-0{padding-top: 0;}

.m-0 {margin: 0;}
.mb-0 {margin-bottom: 0;}
.mt-0 {margin-top: 0;}

.mr-1 {margin-right: 10px;}
.ml-1 {margin-left: 10px;}
.mb-1 {margin-bottom: 10px;}
.mt-1 {margin-top: 10px;}

.mb-2 {margin-bottom: 20px;}

.grid-2 {display: grid; grid-template-columns: repeat(2,1fr); gap: 20px;}
.grid-3 {display: grid; grid-template-columns: repeat(3,1fr); gap: 20px; }
.grid-4 {display: grid; grid-template-columns: repeat(4,1fr); gap: 20px;}

.d-flex{display: flex;}
.flex-column {flex-direction: column;}
.flex-wrap {flex-wrap: wrap;}
.justify-between {justify-content: space-between;}
.justify-center {justify-content: center;}
.align-center {align-items: center;}
.d-none{display: none;}

.h-100 {height: 100%;}
.w-100 {width: 100%;}

select,input ,textarea,option{  
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--dark);
}

a {text-decoration: none; color: inherit;}

.btn,button,select,input ,textarea{  
  font-size: .85rem; 
  padding: 10px 15px;
  outline: none;
}

.btn,button {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background-color: var(--dark);
  color: var(--white);
  border: 1px solid transparent;
  cursor: pointer;
  transition: opacity .25s; 
  text-transform: uppercase;
  white-space: pre;
}

button:disabled,
button[disabled]{
  background-color: var(--black);
}

.btn,button:hover{ opacity: 0.8;}

h3 {font-size: 16px;}
p,h4 {word-wrap: break-word;}
h4,label {font-size: .9rem;}
p,pre {font-size: .8rem;}
pre {word-wrap: break-word; white-space: pre-wrap; }
small {font-size: 0.7rem;}

.break-word {word-break: break-all;}

.uppercase {text-transform: uppercase;}

.truncate {  
  max-width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.center {text-align: center;}

.cp{cursor: pointer;}

.overflow {overflow: auto;}

.scale {animation: scale 0.25s;}

small {font-size: .75rem;}

.inline-list li{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
}

.inline-list li {
  border-left: 1px solid var(--gray);
}

.inline-list li:first-child {border-left: 0;}

.list li:hover {background-color: var(--dark); color: var(--white);}

.border-0 {border: 0;}
.border-top {border-top: 1px solid var(--dark);}
.border-bottom {border-bottom: 1px solid var(--dark);}
.border-left {border-left: 1px solid var(--dark);}
.border-right {border-right: 1px solid var(--dark);}
.bordered {border: 1px solid var(--dark);}
.border-black {border-color: var(--black);}

.dark {color: #101010;}
.light{color: var(--light);}
.gray{color: var(--gray);}
.white {color: var(--white);}
.green {color: #8bc34a;}
.red {color: var(--red);}

.bg-black {background-color: var(--black);}
.bg-dark {background-color: var(--dark);}
.bg-green {background-color: var(--green); color:var(--black); }
.bg-red {background-color: var(--red); color:var(--black); }
.bg-transparent {background-color: transparent;}
.bg-yellow {background-color: var(--yellow);}
.bg-brown {background: var(--brown);}


.max-list-h {
  height: 300px;
  border-color: var(--dark);
}

.modal {height: 100vh; width: 100vw; position: fixed; top: 0; left: 0; background-color: #10101063; backdrop-filter: blur(2px);}
.modal-content {background-color: var(--dark); width: 50%; overflow: hidden;}

@keyframes scale {
  0% {transform: scale(0.5);}
  100% {transform: scale(1);}
}

::-webkit-scrollbar {
  width: 5px;
  background: inherit;
}

::-webkit-scrollbar-thumb {
  background: var(--gray);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
}

@media only screen and (max-width: 1024px) {
  .grid-3,.grid-4 { grid-template-columns: repeat(3,1fr);}
}

@media only screen and (max-width: 924px) {
  .grid-3,.grid-4 { grid-template-columns: repeat(2,1fr);}
}

@media only screen and (max-width: 624px) {
  .grid-2,.grid-3,.grid-4 { grid-template-columns: repeat(1,1fr);}
}