* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 0.9rem;
  text-align: center;
  letter-spacing: 0.6px;
  background-color: #a86a3c;
  color: #1e1e1e;
  width: 250px;
  padding: 7px;
}

#root {
  background: #1e1e1e;
  color: #fff;
  border-radius: 7px;
  padding: 7px;
}

button {
  color: #fff;
  background-color: #1e1e1e;
  width: 100%;
  padding: 10px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;  
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 7px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.502);
  transition: all .25s;
}

button:disabled,
button[disabled]{
  color: #1e1e1e;
  background-color: #a86a3c;  
}

button:hover {opacity: 0.8;}

svg {fill: currentColor;}

h1 svg {fill: #a86a3c;}

h2 {
  font-size: 1.2rem;
  color: #a86a3c;
  width: 100%;
  max-width: 180px;
  margin: auto;
  margin-bottom: 10px;
  overflow-wrap: break-word;
}

pre {
  font-size: 12px;
  max-height: 300px;
  width: 100%;
  padding: 7px;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 7px;
  margin-bottom: 0;
  overflow: auto;
  text-align: left;
  line-height: 1.5;
}

small,.small {color: #565656;}

img {margin-bottom: 20px;}

.m-0 {margin: 0;}
.mt-1 {margin-top: 10px;}
.mr-1 {margin-right: 10px;}
.ml-1 {margin-left: 10px;}
.mb-1 {margin-bottom: 10px;}
.mb-2 {margin-bottom: 20px;}

.d-flex{display: flex;}
.d-none {display: none !important;}

.bg-red {background-color: #c83131; color: white;}
.red {color: #c83131;}
.dark {color: #1e1e1e;}
.gray {color: #565656;}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #565656;
}

::-webkit-scrollbar-thumb:hover {
  background: #a86a3c;
}